[submodule "fortran-yaml-c"]
	path = src/dependencies/fortran-yaml-c
	url = https://github.com/Nicholaswogan/fortran-yaml-c.git
[submodule "src/dependencies/minpack"]
	path = src/dependencies/minpack
	url = https://github.com/jacobwilliams/minpack
